[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
plotly = "*"
numpy = "*"
pillow = "*"
tweepy = "*"
matplotlib = "*"
bokeh = "==2.2.2"
lxml = "*"
beautifulsoup4 = "*"
seaborn = "*"
chart-studio = "*"
yfinance = "*"
mplfinance = "*"

[dev-packages]

[requires]
python_version = "3.8"
