 <div class="container">
        <h2 class="mytitle">Me concernant...</h2>
		<article>
                Diplômé d'un bacc+5 en e-commerce, web et marketing digital de l'université paris-Est,
                je suis passé par différentes exprériences professionnelles dans l'univers du digital, tels le metier de: <br/><br/>
                <p>
                    - <i><strong>Webmaster:</strong></i> où j'ai eu à gérer un site de vente privée en ligne,<br/>
                    - <i><strong>Webmarketeur:</strong></i>  où j'ai été en charge des opérations de marketing en ligne pour une société de biotechnologie,<br/>
                    - <i><strong>Chef de produit e-commerce:</strong></i>  dans une grande groupe française,<br/>
                    - <i><strong>Consultant digital analytics:</strong></i>  où j'ai acquis des savoir-faires sur l'analyse des données web et digital.<br/>
                </p>
                <br/>
                C'est dans cette dernière expérience que j'ai eu le gout de la programmation et le metier du traitement et de l'analyse de données. Au fil du temps et avec beaucoup d'autoformation, j'ai appris à comprendre et à utiliser quelques outils comme webtrends, google analytics, cognos, pentaho, tableau software, et
                a appris différents langages informatiques: C++, java, PHP, Html/css,Javascript,...mais celui qui m'a beaucoup intéressé est le langage PYTHON dont je suis devenu fan.<br/><br/>

                L'objectif de ce site est justement de montrer ma connaissance de ces langages, et surtout à l'analyse de donnée via PYTHON (sinon j'aurai crée ce site sous un CMS comme wordpress :)).<span id="python"> Ce site a été crée sous PYTHON en utilisant le module <a href="https://streamlit.io/" target="_blanck">streamlit</a>...</span><br/><br/>

                Ayant toujours voulu aller plus loin dans la "DATA", aujourd'hui je suis certifié en <strong>"concepteur Big Data-Intelligence artificielle"</strong> par l'organisme de formation continue FITEC.

                Et a l'avenir, je souhaiterai ainsi travailler dans le traitement, la manipulation et l'analyse de données, autour de Python.<br/><br/><br/>
        </article>
        <hr>

        <!--langages-starts-->
        <div class="col-md-12">
            <h2 class="mytitle">Langages et outils...</h2>
                <br/>
                <br/>
                <br/>
                <div class="barWrapper">
                    <span class="progressText">
                        <B>PYTHON</B>
                    </span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <span class="popOver" data-toggle="tooltip" data-placement="top" title="85%"> </span>
                        </div>
                    </div>
                    <!-- language -->
                    <div class="barWrapper">
                            <span class="progressText">
                                <B>SPARK (pyspark, sparkSQL, saprk streaming)</B>
                            </span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                    <span class="popOver" data-toggle="tooltip" data-placement="top" title="80%"> </span>
                                </div>
                            </div>
                        </div>
                        <!-- End language -->

                    <div class="barWrapper">
                        <span class="progressText">
                            <B>ecoystème HADOOP (HDFS, hive, zookeeper, KAFKA, Elasticsearch, etc...)</B>
                        </span>
                        <div class="progress ">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="10" aria-valuemax="100">
                                <span class="popOver" data-toggle="tooltip" data-placement="top" title="70%"> </span>
                            </div>

                        </div>
                    </div>
                    <!-- language -->
                    <div class="barWrapper">
                            <span class="progressText">
                                <B>Bash (Linux) </B>
                            </span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                    <span class="popOver" data-toggle="tooltip" data-placement="top" title="70%"> </span>
                                </div>
                            </div>
                        </div>
                        <!-- End language -->

                    <div class="barWrapper">
                        <span class="progressText">
                            <B>HTML5 / CSS3 </B>
                        </span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                <span class="popOver" data-toggle="tooltip" data-placement="top" title="70%"> </span>
                            </div>
                        </div>
                    </div>
                    <!-- language -->
                    <div class="barWrapper">
                            <span class="progressText">
                                <B>SQL / NoSQL</B>
                            </span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                    <span class="popOver" data-toggle="tooltip" data-placement="top" title="50%"> </span>
                                </div>
                            </div>
                        </div>
                        <!-- End language -->
                        <!-- language -->
                    <div class="barWrapper">
                            <span class="progressText">
                                <B>JAVASCRIPT</B>
                            </span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                    <span class="popOver" data-toggle="tooltip" data-placement="top" title="50%"> </span>
                                </div>
                            </div>
                        </div>
                        <!-- End language -->
                        <!-- language -->
                        <div class="barWrapper">
                            <span class="progressText">
                                <B>OUTILS BI: POWER BI, Splunk </B>
                            </span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                    <span class="popOver" data-toggle="tooltip" data-placement="top" title="50%"> </span>
                                </div>
                            </div>
                        </div>
                        <!-- End language -->
                        <!-- language -->
                    <div class="barWrapper">
                            <span class="progressText">
                                <B>Docker (conteneurisation)</B>
                            </span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                    <span class="popOver" data-toggle="tooltip" data-placement="top" title="40%"> </span>
                                </div>
                            </div>
                        </div>
                        <!-- End language -->
                    <!-- language -->
                    <div class="barWrapper">
                            <span class="progressText">
                                <B>Java / c++ </B>
                            </span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                    <span class="popOver" data-toggle="tooltip" data-placement="top" title="30%"> </span>
                                </div>
                            </div>
                        </div>
                        <!-- End language -->

                </div>
            </div>
	</div>